.row {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    text-align: center;
    justify-content: center;
    height: 150px;
}

.colScore {
    border: 2px;
    border-style: solid;
    height: 50px;
    padding: 0;
    margin: 25px;
    height: 100px;
}

#titleArt {
    width: 300px;
}

#titleHead {
    height: 150px;
    background-color: darkmagenta;
}

#inst {
    height: 150px;
    border: none;
}

.button {
    position: relative;
    background-color: white;
    border: none;
    font-size: 28px;
    color: black;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#pinkGem:after {
    background: pink;
    color: pink;
}

#blueGem:after {
    background: blue;
    color: blue;
}

#yellowGem:after{
    background: yellow;
    color: yellow;
}

#greenGem:after {
    background: green;
    color: green;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

p {
    text-align: center;
    color:darkmagenta;
    line-height: 1.5;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 1000;
}

#scores {
    background-color: rgb(255, 255, 92);
}

#userGuess {
    background-color: lightgreen;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 60px;
    display: inline-block;
    color: darkgreen;
}

#compGuess {
    background-color: lightblue;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 60px;
    display: inline-block;
    color: darkblue;
}

#gemRow {
    border: none;
}

#winsLosses {
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    display: inline-block;
    background-color: lightcoral;
}


